<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>JinrouApp</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <h1>Jinrou App</h1>

        <h2>設定</h2>
        <form id="settings" action="/" method="post">
            <p>
                プレイ人数:<select id="playerNum" v-model.number = "playerNum" name="playerNum">
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select><br>
            </p>
            <p>
                村人:<select id="villager" v-model.number="villager" name="villager">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>    
                    <option value="3">3</option>
                </select>
                人狼:<select id="wolfman" v-model.number="wolfman" name="wolfman">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    </select>
                占い師:<select id="fortune"v-model.number="fortune" name="fortune">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    </select>
                怪盗:<select id="thief" v-model.number="thief" name="thief">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    </select>
            </p>
            <p>現在の合計枚数: {{total}}</p>
            ルーム番号:<input type="text" name="id">
            <p  v-if="total == playerNum + 2" ><input type="submit" value="ルーム作成" ></p>
            <p v-else>カードの合計枚数がプレイ人数+2になるように設定してください。</p>
        </form>

        <div class="test100">
            <form id="test">
                <input type="submit" value="test">
            </form>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>