<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>room:<%= num %></h1>
        <h1>name:<%= name %></h1>
        <h2>設定</h2>
        <p>カードの合計枚数がプレイ人数+2になるように設定してください。</p>
        <form id="settings">
            <p>
                プレイ人数:<select id="playerNum" v-model.number = "playerNum">
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select><br>
            </p>
            <p>
                村人:<select id="villager" v-model.number="villager">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>    
                    <option value="3">3</option>
                </select>
                人狼:<select id="wolfman" v-model.number="wolfman">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    </select>
                怪盗:<select id="thief" v-model.number="thief">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    </select>
                占い師:<select id="fortune"v-model.number="fortune">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    </select>
            </p>
            <p>現在の合計枚数: {{total}}</p><p v-if="total == playerNum + 2">OK!</p>
            <p><input type="submit"  value="村作成"></p>


        </form>

        <h2 class="field">村</h2><br>
        <div id="villageField" class="villageField"></div>
        <h2 class="field">墓地</h2>
        <div class="cemetryField" id="cemetryField"></div>

        <h2>操作ボタン</h2>
        <button id="toDate">昼へ</button>
        <button id="toNight">夜へ</button>
        <button id="result">結果発表</button>
        <div class="test100">
            <form id="test">
                <input type="submit" value="test">
            </form>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>